@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --site-theme-light: #01d293;
  --site-theme-dark: #2ec094;
  --primary: #6a59ff;
  --white: #ffffff;
  --bg: #f5f5f5;
  --action-primary-color: rgba(0, 159, 227, 1);
  --alert-watched-color: rgba(255, 255, 0, 1);
  --warning-new-color: rgba(255, 0, 175, 1);
}


@layer utilities {
  .link-underline {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fff, #fff);
  }

  .link-underline-black {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#01d293, #01d293);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in-out;
  }

  .link-underline:hover,
  .link-underline-black:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
  }
}

/* animation*/
@keyframes bounce-left-to-right {

  0%,
  100% {
    transform: translateX(-10px);
    /* Initial position (left) */
  }

  50% {
    transform: translateX(10px);
    /* Bounce to the right */
  }
}

/* Default container styles */
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

/* Media queries for container classes */
@media (min-width: 576px) {

  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {

  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 992px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
    padding-top: 100px;
  }
}


.box {
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 20px;
}


/* swiper settings */

.swiper {
  padding-top: 30px;
  padding-bottom: 30px;

}

.swiper_container {
  width: 85%;
  height: 44rem;
  padding: 1rem 0;
  position: relative;
}

@media (max-width: 1400px) {
  .swiper_container {
    width: 99%;
  }

  .swiper-slide {
    height: 20rem;
  }

  .swiper-slide img {
    margin-top: 0rem;
    width: 20rem;
    height: 10rem;

  }
}



.swiper-slide {
  /* overflow: hidden;

  width: 38rem;
  height: 42rem; */
  width: 35rem;
  height: 34rem;

  position: relative;
  background-position: center;
  background-size: cover;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 40rem;
    padding: 0rem 0;
  }


  .swiper-slide img {
    margin-top: 0rem;
    width: 20rem;
    height: 10rem;

  }
}

.swiper-slide img {
  margin-top: 2rem;
  width: 100%;
  height: 34rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}


.swiper-slide.swiper-slide-active,
.swiper-slide.swiper-slide-duplicate-active {
  transform: scale(1) !important;
}


/* framer motion */
.large-indicator {
  display: flex;
  display: -webkit-flex;
}

.large-indicator div {
  background-color: #f5f5f5;
  height: 2em;
  margin-right: 2em;
  width: 2em;
}

.large-indicator div {
  animation-duration: 0.9s, 2.7s;
  -webkit-animation-duration: 0.9s, 2.7s;
  animation-name: blink, rainbow;
  -webkit-animation-name: blink, rainbow;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.large-indicator div:nth-of-type(2) {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}

.large-indicator div:nth-of-type(3) {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 1;
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 1;
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rainbow {
  0% {
    background-color: var(--action-primary-color);
  }

  33% {
    background-color: var(--action-primary-color);
  }

  33.5% {
    background-color: var(--warning-new-color);
  }

  66.5% {
    background-color: var(--warning-new-color);
  }

  67% {
    background-color: var(--alert-watched-color);
  }

  100% {
    background-color: var(--alert-watched-color);
  }
}

@-webkit-keyframes rainbow {
  0% {
    background-color: var(--action-primary-color);
  }

  33% {
    background-color: var(--action-primary-color);
  }

  33.5% {
    background-color: var(--warning-new-color);
  }

  66.5% {
    background-color: var(--warning-new-color);
  }

  67% {
    background-color: var(--alert-watched-color);
  }

  100% {
    background-color: var(--alert-watched-color);
  }
}
