@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --site-theme-light: #01d293;
  --site-theme-dark: #2ec094;
}


@layer utilities {
  .link-underline {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fff, #fff);
  }

  .link-underline-black {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#01d293, #01d293);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in-out;
  }

  .link-underline:hover,
  .link-underline-black:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
  }
}

html {
  overflow-x: initial !important;
}
